<li
  [ngClass]="{'list-group-item':true, 'list-group-item-success':task.complete, 'list-group-item-warning':!task.complete}">

  <header>
    <h2 class="d-inline">

      <span *ngIf="!editMode" (dblclick)="toggleEditMode()" [style.cursor]="'pointer'">
        {{task.name}}
      </span>

      <form *ngIf="editMode" (submit)="toggleEditMode()">
        <input [(ngModel)]="task.name" name="editName" />
      </form>

    </h2>
    <span
      [ngClass]="{'d-inline float-end badge':true, 'bg-success':task.complete, 'bg-warning text-dark':!task.complete}">{{getCompleteString()}}</span>
  </header>
  <div>Créée le : {{task.created|date:'dd/MM/y à HH:mm'}}</div>
  <div>Description : {{task.description}}</div>
  <button (click)="toggleComplete()" class="btn btn-sm btn-dark">{{getBtnTxt()}}</button>

</li>